<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <meta name="keywords" content="Network, Learning, Free, Python, Programming, Studio">
    <meta name="author" content="Network Studio">
    <meta name="description" content="Network community for free programming learning ">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="assets/logo.png">
    <script>
        $(document).ready(function () {
            function checkScreenSize() {
                if ($(window).width() < 768) {
                    $('.nav-item.dropdown').addClass('d-none');
                    $('.nav-item.d-md-none').removeClass('d-none');
                } else {
                    $('.nav-item.dropdown').removeClass('d-none');
                    $('.nav-item.d-md-none').addClass('d-none');
                }
            }
            checkScreenSize();
            $(window).resize(function () {
                checkScreenSize();
            });

            $('#navcol-3').on('shown.bs.collapse hidden.bs.collapse', function () {
                adjustCarouselHeight();
            });
        });
        function adjustCarouselHeight() {
            var navHeight = $('#mainNav').outerHeight(); // Use .outerHeight() to get the height
            var footerHeight = $('#mainFooter').outerHeight(); // Use .outerHeight() to get the height
            var carousel = $('#carouselSection');
            var carouselHeight = $(window).height() - navHeight - footerHeight;
            carousel.css('height', carouselHeight + 'px'); // Use .css() to set the height

            var carouselInner = $('.carousel-inner'); // Add the '.' to select by class
            carouselInner.css({
                'height': '100%',
                'align-content': 'center'
            });

            var carouselItems = $('.carousel-item'); // Use jQuery selector for all items
            carouselItems.css({
                'max-width': '80%',
                'margin': 'auto',
                'height': '100%',
                'align-content': 'center'
            });
        }

        window.addEventListener('load', adjustCarouselHeight);
        window.addEventListener('resize', adjustCarouselHeight);
    </script>

    <style>
        .carousel-control-next,
        .carousel-control-prev {
            filter: invert(100%);
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        .navbar-toggler .fa-times {
            display: none;
        }

        /* When the navbar is expanded (open), hide hamburger, show close icon */
        .navbar-toggler[aria-expanded="true"] .fa-bars {
            display: none !important;
        }

        .navbar-toggler[aria-expanded="true"] .fa-times {
            display: inline-block !important;
        }
    </style>
</head>

<body>
    <nav id="mainNav" class="navbar navbar-light navbar-expand-md bg-light">
        <div class="container-fluid">
            <div class="navbar-brand text-dark col-3">
                Network Studio
            </div>
            <button data-toggle="collapse" data-target="#navcol-3" class="navbar-toggler collapsed">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times d-none"></i>
            </button>
            <div class="navbar-collapse collapse col-9" id="navcol-3">
                <ul class="navbar-nav ml-auto">
                    <!-- Collaborations Dropdown -->
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" id="collaborationsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-users"></i> Collaborations
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-2 shadow-lg rounded"
                            aria-labelledby="collaborationsDropdown">
                            <a class="dropdown-item d-flex align-items-center"
                                href="https://manners-chat.onrender.com/">
                                <i class="fas fa-comments text-primary mr-2"></i> Manners Chat
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="https://rrconsultants.ro/">
                                <i class="fas fa-briefcase text-primary mr-2"></i> RR Consultants
                            </a>
                            <a class="dropdown-item d-flex align-items-center"
                                href="https://web-studio-pro.vercel.app/">
                                <i class="fas fa-laptop-code text-primary mr-2"></i> Web Studio
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="https://luambacul.ro">
                                <i class="fas fa-graduation-cap text-primary mr-2"></i> Luam Bacul
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#collaborationsModal">
                            <i class="fas fa-users"></i> Collaborations
                        </a>
                    </li>
                    <!-- Personal Projects Dropdown -->
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-lightbulb"></i> Personal Projects
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-2 shadow-lg rounded"
                            aria-labelledby="projectsDropdown">
                            <a class="dropdown-item d-flex align-items-center" href="https://expert-web.vercel.app/">
                                <i class="fas fa-book text-primary mr-2"></i> My Course
                            </a>
                            <a class="dropdown-item d-flex align-items-center"
                                href="https://mihai-bookstore.vercel.app/">
                                <i class="fas fa-store text-primary mr-2"></i> Book Store
                            </a>
                            <a class="dropdown-item d-flex align-items-center"
                                href="https://travel-time-minimization.vercel.app">
                                <i class="fas fa-globe text-primary mr-2"></i> Roundabout Simulator
                            </a>
                            <a class="dropdown-item d-flex align-items-center"
                                href="https://netflex-studio.vercel.app/">
                                <i class="fas fa-video text-primary mr-2"></i> Netflex
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="https://monthly-book.vercel.app/">
                                <i class="fas fa-book text-primary mr-2"></i> Monthly Book
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#projectsModal">
                            <i class="fas fa-lightbulb"></i> Personal Projects
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Modals for small screens -->
    <!-- Collaborations Modal -->
    <div class="modal fade" id="collaborationsModal" tabindex="-1" aria-labelledby="collaborationsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="collaborationsModalLabel">Collaborations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a class="dropdown-item d-flex align-items-center" href="https://manners-chat.onrender.com/">
                        <i class="fas fa-comments text-primary mr-2"></i> Manners Chat
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="https://rrconsultants.ro/">
                        <i class="fas fa-briefcase text-primary mr-2"></i> RR Consultants
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="https://web-studio-pro.vercel.app/">
                        <i class="fas fa-laptop-code text-primary mr-2"></i> Web Studio
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="https://luambacul.ro">
                        <i class="fas fa-graduation-cap text-primary mr-2"></i> Luam Bacul
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Personal Projects Modal -->
    <div class="modal fade" id="projectsModal" tabindex="-1" aria-labelledby="projectsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectsModalLabel">Personal Projects</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a class="dropdown-item d-flex align-items-center" href="https://expert-web.vercel.app/">
                        <i class="fas fa-book text-primary mr-2"></i> My Course
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="https://mihai-bookstore.vercel.app/">
                        <i class="fas fa-store text-primary mr-2"></i> Book Store
                    </a>
                    <a class="dropdown-item d-flex align-items-center"
                        href="https://travel-time-minimization.vercel.app">
                        <i class="fas fa-globe text-primary mr-2"></i> Roundabout Simulator
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="https://netflex-studio.vercel.app/">
                        <i class="fas fa-video text-primary mr-2"></i> Netflex
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="carouselSection" class="carousel carousel-fade" data-ride="carousel" data-interval="3000"
        style="background-color: #e9ecef;">
        <div class="carousel-inner">
            <% for(let i=0; i < info.length; i++) { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <div class="wraper-div">
                        <div class="text-center">
                            <h3>
                                <%= info[i].title %>
                            </h3>
                            <p>
                                <%= info[i].text %>
                            </p>
                            <a href="#" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>

        <a class="carousel-control-prev" href="#carouselSection" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSection" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <footer id="mainFooter" class="bg-light text-center w-100" style="position: fixed; bottom: 0; left: 0;">
        <div class="container py-4">
            <div class="row justify-content-center">
                <!-- Social Media Icons -->
                <div class="col-lg-2 col-4 mb-3">
                    <a class="text-dark" href="https://github.com/mihai-ciorobitca/" style="cursor: pointer;">
                        <i class="fab fa-2x fa-github"></i>
                        <div>GitHub</div>
                    </a>
                </div>
                <div class="col-lg-2 col-4 mb-3">
                    <a class="text-dark" href="https://linkedin.com/in/mihai.ciorobitca/" style="cursor: pointer;">
                        <i class="fab fa-2x fa-linkedin"></i>
                        <div>LinkedIn</div>
                    </a>
                </div>
                <div class="col-lg-2 col-4 mb-3">
                    <a class="text-dark" href="https://facebook.com/m.ciorobitca/" style="cursor: pointer;">
                        <i class="fab fa-2x fa-facebook"></i>
                        <div>Facebook</div>
                    </a>
                </div>
                <div class="col-lg-2 col-6 mb-3">
                    <a class="text-dark" href="https://youtube.com/@mihai.ciorobitca/" style="cursor: pointer;">
                        <i class="fab fa-2x fa-youtube"></i>
                        <div>YouTube</div>
                    </a>
                </div>
                <div class="col-lg-2 col-6 mb-3">
                    <a class="text-dark" href="https://www.paypal.com/paypalme/mihaiciorobitca"
                        style="cursor: pointer;">
                        <i class="fab fa-2x fa-paypal"></i>
                        <div>PayPal</div>
                    </a>
                </div>
            </div>
            <p class="copyright py-4 mb-0">© 2024 Network Studio, a place to learn for free</p>
        </div>
    </footer>

    <script
        type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "22779028-9326-49a8-a3e3-98975073c026"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>